.header {
    position: sticky;
    padding-top: 1rem;
    padding-bottom: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    flex-shrink: 0;
    z-index: 50;
    top: 0;
  }
  
  .headerContainer {
    align-items: center;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  .headerLeft {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    /* background-image: linear-gradient(83.84deg, #008cff -6.87%, #33d6ff 26.54%, #5cffe0 58.58%);
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block; */
    flex: 1;
  }
  
  .headerMiddle {
    gap: 3rem;
    grid-auto-rows: auto;
    margin-top: 0;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    display: grid;
  }
  
  .headerRight {
    position: static;
    justify-content: flex-end;
    display: flex;
    flex: 1;
    gap: 1rem;
  }

  .activeFont {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity));
  }
  
  .langSwitcher {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
    text-transform: uppercase;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .langSwitcher:hover {
    text-decoration: none
  }
  
  .activeLang {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity));
  }